@page "{id:int}"
@model Operations.DetailsModel
@{
    ViewData["Title"] = "Operation Details";
}

<div class="fs-3"> 
    <p> 
        <span class="fw-bold">
            Codename( 
        </span> 
        @Model.Operation.Codename 
        <span class="fw-bold"> ) </span>
    </p>
    <p> 
        <span class="fw-bold"> 
            Status( 
        </span> 
        @Model.Operation.Status 
        <span class="fw-bold"> ) </span>
    </p>
</div>
<p class="display-5"> Missions </p>
<ul>
    @foreach (var mission in Model.Operation.Missions)
    {
        <li> 
            @mission.IntelReport <br/>
            @mission.OperationWindow <br/>
            @mission.Status <br/>
            <!--
            <a asp-page="/Missions/Details" asp-route-id="@mission.Id"> 
            </a>
            -->
        </li>
    }

<a asp-page="/Operations/Edit" asp-route-id="@Model.Operation.Id"> Edit </a>
