@page
@model Operations.IndexModel
@{
    ViewData["Title"] = "Operations";
}

@foreach ( var operation in Model.Operations ){
    <div class="fs-4 d-flex justify-content-between" style="">
        <a asp-page="/Operations/Details" 
           asp-route-id="@operation.Id"> 
           Operation: @operation.Codename
        </a>
        <span class="text-light">
            Status[ @operation.Status ]
        </span>
    </div>
    <div class="text-dark">
        @foreach( var mission in operation.Missions ){
            <div class="fs-6 d-flex justify-content-between">
                <a asp-page="/Missions/Details" 
                   asp-route-id="@mission.Id"> 
                   Mission: @mission.IntelReport
                </a>
                <span> Operation Window( @mission.OperationWindow )</span>
                <span> Status[ @mission.Status ]</span>
            </div>
            <!-- Display Assignments for this Mission -->
            <div class="ms-4">
                @foreach (var assignment in mission.Assignments) {
                    <div class="fs-6 d-flex justify-content-between">
                        <a asp-page="/Assignments/Details" 
                           asp-route-id="@assignment.Id"> 
                           Assignment: @assignment.Objectives
                        </a>
                        <span> Status[ @assignment.Status ] </span>
                    </div>
                }
            </div>
        }
    </div>
}

<div>
    <a class="btn btn-primary mt-4" href="/Operations/Create"> New Operation </a>   
</div>

