@page "{id:int}"
@model Missions.DetailsModel
@{
    ViewData["Title"] = "Mission Details";
}
<div class="card mission-details">
  
  <div class="card-header">
    <h1 class="display-5">Mission Details</h1>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="key">Intel Report</span>
      <span class="value">@Model.Mission.IntelReport</span>
    </li>
    <li class="list-group-item">
      <span class="key">Operation Window</span>
      <span class="value">@Model.Mission.OperationWindow days</span>
    </li>
    <li class="list-group-item">
      <span class="key">Status</span>
      <span class="value">@Model.Mission.Status</span>
    </li>
    <li class="list-group-item">
      <span class="key">Operation</span>
      <span class="value">
        <a asp-page="/Operations/Details"
           asp-route-id="@Model.Mission.OperationId">
          <i class="bi bi-caret-right-fill"></i>
          @Model.Mission.Operation.Codename
        </a>
      </span>
    </li>
  </ul>

  <div class="card-body">
    <h1 class="display-6">Assignments</h1>
  </div>

  <ul class="list-group list-group-flush">
    @foreach( var assignment in Model.Mission.Assignments ){
    <li class="list-group-item assignments-list">
      <span class="key">
        <a asp-page="/Assignments/Details" 
           asp-route-id="@assignment.Id">
          [ @assignment.Objectives ]
        </a>
      </span>
      <span class="value">@assignment.Status</span>
    </li>
    }
  </ul>

  <div class="card-footer">
    <a class="btn btn-primary" 
       asp-page="/Missions/Edit" 
       asp-route-id="@Model.Mission.Id">Edit</a>
    <a class="btn btn-danger ms-1" 
       asp-page="/Missions/Delete"
       asp-route-id="@Model.Mission.Id">Delete</a>
    <a class="btn btn-outline-light ms-1"
       asp-page="/Assignments/Create"
       asp-route-missionId="@Model.Mission.Id">NewAssignment</a>
  </div>
  
</div>
<!--------------------------------------------------------------
--------------------------------------------------------------->
